body {
            background-color: #0d0d0d!important;
            color: #f5f5f5;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
        }
        header {
            background: #105f00;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .container {
            max-width: 1100px;
            margin: 30px auto;
            padding: 20px;
            background: #0a0a0a;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(0,0,0,);
        }
        h1, h2 {
            margin-top: 0;
            color: #c9a227;
        }
        p {
           color: #f5f5f5;
        }
        .card {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
            color: #c9a227;
        }
        .btn {
            display: inline-block;
            padding: 10px 18px;
            background: #105f00;
            color: #c9a227;
            border-radius: 5px;
            text-decoration: none;
        }
        .btn:hover {
            background: #058a10a4;
        }
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
            color: #c9a227;
        }
        .calcular{
            margin-top: 10px;
            background-color: #105f00;
            color: #c9a227;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        h3{
            color: #c9a227;
        }