.cabecalho {
    width: 100%;
    height: 60px;
    background-color: #105F00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.site{
    background-color: #1E1D1D;
}

.BemVindo {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#welcome {
    color: #BE9C52;
    font-size: 50px;
    text-shadow: #000 2px 2px 2px;
}

#slogan {
    color: #BE9C52;
    font-size: 16px;
}

#aviso{
    color: white;
    top:0;
    font-size: 16px;
}

#esqueci{
    color: white;
}

/* Botões com mesma classe cadastre */
button.cadastre{
    background-color: #1EA403;
    color: #000;
    border: none;
    width: 100px;
    height: 30px;
    box-shadow: #000 1px 1px 1px;
}

button.cadastre:hover{
    background-color: #105F00;
    transform: scale(1.2);
    box-shadow: #000 3px 3px 3px;
}

/* Formulário cadastro */
.cadastro {
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top: 50%;
    left: 70%; 
    transform: translate(-50%, -50%); 
    background-color:#1E1D1D; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: #000 4px 4px 4px;
    border: 2px solid black ;
}

h1.cadastre{
    color: #BE9C52;
    text-shadow: #000 2px 2px 2px;
}

label.cadastre{
    color: white;
    border: none;
}

input.cadastre{
    width: 250px;
    height: 20px;
    border: none;
    background-color: #716D6D;
}

input::placeholder{
    color: white;
    opacity: 0.3;
}

.rodape{
    width: 100%;
    height: 60px;
    background-color: #105F00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 90%;
    left: 0;
    z-index: 1000;
}
